@import "tailwindcss";

@font-face {
  font-family: "armstrong";
  src: url('/fonts/Primary/Armstrong.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url('/fonts/Secondary/Poppins-Regular.ttf') format('truetype'), url('/fonts/Secondary/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "armstrong";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}